<div class='card'>
  <div class='card__content'>
    
    <div class='card__front'>
      <h3 class='card__title'>{{cardTitle}}</h3>
      <p class='card__subtitle'>More about:</p>
    </div> 
    
    <div class='card__back'>
      <div class='card__body'>
        <div class='skills__skill' *ngFor='let skill of skills'>
          <div class='{{getLevel(skill.level)}}'>
            <span>{{skill.title}}</span> <span>{{skill.level}}/10</span>
          </div>
          <div class='skill__time'><span>{{checkTen(skill.time)}} yrs</span></div>
        </div>
      </div>
    </div>
    
  </div>
</div>
