.home {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  animation: fade-in-animation 1s ease-in forwards;

  &-left {
    background-image: linear-gradient(90deg, rgba(224, 224, 224, 0.4), transparent);
    color: var(--wht);
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    position: relative;

    img {
      position: sticky;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
      animation: fade-in-animation 2s ease-in forwards;
      transition: all 1s ease-in-out;
      filter: drop-shadow(-1rem -1rem 2rem var(--bg));

      &:hover {
        filter: drop-shadow(2rem -1rem 1rem var(--bg));
      }
    }

    &__data {
      position: relative;
      z-index: 1;
      background-image: linear-gradient(var(--wht), var(--bg));
      color: var(--blk);
      height: 100%;
      border-radius: 0 50px 0 0;

      &-details {
        min-height: 9rem;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
      margin: 0;
      padding: 0;
      padding-left: 2rem;
    }

    a {
      padding-left: 2rem;
    }

    h5 {
      color: var(--primary);
    }

    p:first-of-type {
      margin-top: 1em;
    }

    .no-small {
      padding: 2em 1rem;
      position: sticky;
      top: calc(50% - 10rem);
      margin-bottom: -2rem;
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 1rem;
      background-image: linear-gradient(transparent, var(--wht));


      img {
        filter: none;
        border-radius: 50%;
        border: 2px solid var(--primary);
        width: 100%;
        min-width: 5rem;
        height: auto;
      }

      p:first-of-type {
        margin: 0
      }
    }
  }

  &-right {
    padding: 2em 2em 0 2em;
    z-index: 1;

    h1,
    h2,
    h3,
    h4,
    h5 {
      color: var(--secondary);
    }

    &__content {
      background-color: rgba(224, 224, 224, 0.6);
      color: var(--blk);
      height: 100%;
      border-radius: 0 2rem 0 0;

      .brief {
        padding: 1em;
        transition: all .5s ease-in-out;
        border-radius: 0 2rem 0 0;

        &:hover {
          background-color: var(--wht);
        }
      }

      .skills {
        padding: 1em;
        width: 100%;
        transition: background-color .5s ease-in-out;
        border-radius: 0 2rem 0 0;

        &__h2 {
          margin-bottom: 0;
          padding-bottom: .25rem;
        }

        &__sup {
          font-size: small;
          color: var(--secondary);
        }

        &:hover {
          background-color: var(--wht);
        }

        &__cards {
          position: relative;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
        }
      }

      .experience {
        padding-top: 2em;

        &:hover {
          h2 {
            background-color: var(--wht);
          }
        }

        h2 {
          padding-left: 1rem;
        }

        &__content {
          padding: 1em;
          border-radius: 0 2rem 0 0;
          transition: all .5s ease-in-out;

          &:hover {
            background-color: var(--wht);
          }

          .title {
            font-size: 1.15rem;
            color: var(--primary)
          }

          .time {
            font-size: .85rem;
            color: var(--light);
            padding-bottom: 1em;
          }

          .role {
            padding-bottom: 1em;
          }
        }
      }

      .projects {
        margin-bottom: 0;

        &:hover {
          h2 {
            background-color: var(--wht);
          }
        }

        h2 {
          padding-left: 1rem;
        }

        ul {
          list-style-type: none;
          padding-left: 0;
          margin-bottom: 0;

          li {
            padding: .25rem 1em;
            margin: 0;
            font-weight: 700;
            color: var(--secondary);
            border-radius: 0 2rem 0 0;
            transition: all .5s ease-in-out;

            &:hover {
              background-color: var(--wht);
            }

            ul>li {
              font-weight: 500;
              color: var(--blk);
              border-radius: 0 1em 0 0;
              transition: all .25s ease-in-out;

              &:hover {
                background-color: var(--bg);
                color: var(--wht);
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 950px) {

  .home {
    display: flex;
    flex-direction: column;
    min-height: max-content;

    &-left {
      &__data {
        background-image: linear-gradient(var(--wht), var(--wht));
      }

      .no-small {
        display: none;
      }
    }

    &-right {
      padding: 0;
      opacity: 1;
      animation: none;

      .no-small {
        display: none;
      }

      &__content {
        background-color: var(--wht);
        color: var(--blk);
        height: 100%;
        padding: 1em;
        border-radius: 0;

        .skills {
          width: 100%;

          .ten,
          .nine,
          .eight,
          .seven,
          .six,
          .five,
          .four,
          .three,
          .two,
          .one {
            white-space: wrap;
            word-spacing: 12rem;
          }
        }
      }
    }
  }
}

@keyframes fade-in-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
